<?xml version ="1.0"?>
<configuration>

  
  <configSections>
      <section
        name="LoadTrace"
        type="LoadTrace.LoadTraceSection, LoadTrace"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>


  <!-- 
    The following settings are required:
    
    server            This is the server where your trace repository is located 
    
    database          This is the database where your trace repository is located.
                      See the attached Database Setup.sql script to put the required objects in this database
                
    verbose           If true, provides additional output
    
    reprocess         All trace files names are required to be unique per server.  If this is false,
                      any file already in the database will be skipped.  If true, the files details
                      will be deleted and it will be reprocessed.
                
    resetPermissions  Trace files are written with permissions that match the MDF and LDF
                      permissions settings.  This means that you probably don't have
                      permissions to read or move the file.  This will attempt to 
                      reset these permissions.  I'm still working out what 
                      permissions are required to complete this step.  I know it 
                      works as an administrator :)

    workDirectory     If set, each file will be moved here before being proceseed.
    
    archiveDirectory  If set, each file will be moved here after being processed.
                      A folder is created for each server based on the name of the server
                      found in the trace file.  A zip file is created for each month.
                      The file is moved into the zip file based on the file create date.
                      Trace files typically zip down to 5% the size of the original 
                      file so this is a significant savings.
                      
    cleanUpServerName If the server name is formatted as MACHINE\INSTANCE and the 
                      MACHINE and INSTANCE are identical then just use the instance.
                      This is mainly to handle clustered instances and return a friendlier
                      server name for reviewers.
    
    You can list as many server elements as you'd like.  At least one is required.  
    The settings for that are:
     
    name              This must be unique and is only used for display.  I typically 
                      put a "friendly" name for a server here.
                      
    traceWildCard     This is the full path to a wildcard that will match the traces
                      you would like to process.
    
    -->
  
  <LoadTrace server="L70\KATMAI" 
             database="TraceRepository" 
             verbose="true" 
             reprocess="true" 
             resetPermissions="true"
             workDirectory=""   
             archiveDirectory=""
             cleanUpServerName="true">

    <servers>
      <add name="L70" traceWildcard="C:\Projects\SqlUtilities\LoadTrace\Login Traces\*.trc"  />
      <!-- <add name="Test" traceWildcard="C:\Projects\SqlUtilities\LoadTrace\Login Traces\Test2\*.trc"    />-->

    </servers>

    <appNameFixes>
      
      <!--  
      
      In many cases, the application name includes some type of identifier or counter.
      I really don't want those so I remove them.  I've included a few samples below.
      You can comment them out if you'd prefer.  I suggest you don't.
      
      The following characters need to be escaped in the regular expression or replacement strings
      
        & = &amp;
        < = &lt;
        > = &gt;
        " = &quot;
        ' = &apos;        -->
      
      <!-- Database Mail adds a sequential nubmer to the connection string -->
      <add regex="DatabaseMail - SQLAGENT - Id&lt;\d+&gt;" replacement="DatabaseMail - SQLAGENT - Id&lt;#&gt;" />
      <add regex="DatabaseMail - DatabaseMail - Id&lt;\d+&gt;" replacement="DatabaseMail - DatabaseMail - Id&lt;#&gt;" />

      <add regex="DatabaseMail - SQLAGENT90 - Id&lt;\d+&gt;" replacement="DatabaseMail - SQLAGENT - Id&lt;#&gt;" />
      <add regex="DatabaseMail - DatabaseMail90 - Id&lt;\d+&gt;" replacement="DatabaseMail - DatabaseMail - Id&lt;#&gt;" />

      <!-- Fixup w3wp@/LM/W3SVC/2/Root-1-129814544568132731  -->
      <add regex="w3wp@/LM/W3SVC/2/Root-1-\d+" replacement="w3wp@/LM/W3SVC/2/Root-1-#" />

      <!-- Fixup LiteSpeed {58a6d21a-d5ff-4164-8b12-cf870a9ae57d} -->
      <add regex="LiteSpeed {[0-9\-a-z]*}" replacement="LiteSpeed {#}" />

    </appNameFixes>
      
  </LoadTrace>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>